<script>
    var AWS_ACCESS_KEY_ID = '<%=j ENV['AWS_ACCESS_KEY_ID'] %>';
    var S3_BUCKET = '<%=j S3_BUCKET %>';

    var THING_S3_POLICY = '<%=j Thing.s3_policy %>';
    var THING_S3_SIGNATURE = '<%=j Thing.s3_signature %>';

    var page_entity = <%== controller.render_to_string(template: 'things/show.json.jbuilder', locals: { thing: @thing }) %>
</script>

<div id="droparea" style="display:none;">
    <div class="instructions">
        DROP THINGS HERE
    </div>
</div>

<div id="progress" style="display:none;">
    <div class="uploads">
        <!--
        <div class="upload">
            <div class="filename">asdf.jpg</div>
            <div class="percent">20%</div>
        </div>
        -->
    </div>
</div>