<%= render "dropzone" %>

<%= form_for(@thing) do |f| %>
    <div class="row">
        <%= f.check_box :featured %>
        <%= f.label :featured %>
    </div>

    <div class="row">
        <%= f.label :body, class: "label" %>
        <%= f.text_area :body, class: "input" %>
    </div>

    <div class="row actions">
        <%= f.submit %>
    </div>
<% end %>
