<%= render "dropzone" %>

<%= form_for(@thing) do |f| %>
    <% if @thing.file_url? %>
        <p><a href="<%= @thing.file_url %>"><%= @thing.file_url %></a></p>
    <% end %>

    <%= f.text_area :body %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
