<%= render "dropzone" %>

<%= form_for(@thing) do |f| %>
    <% if @thing.file_url? %>
        <p><a href="<%= @thing.file_url %>"><%= @thing.file_url %></a></p>
    <% end %>

    <div>
        <%= f.check_box :featured %>
        <%= f.label :featured %>
    </div>

    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
