<h1>Listing things</h1>

<table>
  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td>#<%= thing.id %></td>
        <td><%= link_to 'Show', thing %></td>
        <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
        <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= render "dropzone" %>
<% end %>