<%= render "header" %>

<div id="layout_controls" href="#">
  <a href="#" class="button">Stack</a>
</div>

<div id="things" class="grid">
    <% @things.each do |thing| %>
        <%= link_to thing do %>
            <div class="thing" data-content-type="<%= thing.content_type %>">
                <div class="center_within">
                    <% if thing.file_is_image? %>
                        <img class="image" src="<%= thing.imgix_file_url %>?w=280&amp;h=280">
                    <% else %>
                        <div class="unknown">
                            <%= thing.name %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= render "dropzone" %>
<% end %>
