<%= render "header" %>

<div id="things">
    <% @things.each do |thing| %>
        <%= link_to thing do %>
            <%
                style = ""

                if thing.file_is_image? then
                    style = "background-image: url(#{thing.imgix_file_url}?w=300&h=300)"
                end
            %>

            <div class="thing" data-content-type="<%= thing.content_type %>">
                <% if thing.file_is_image? %>
                    <div class="image" style="<%= style %>"></div>
                <% else %>
                    <div class="center_within">
                        <%= thing.name %>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= render "dropzone" %>

    <div id="user_controls">
        <%= link_to 'New', new_thing_path %>
    </div>
<% end %>