<%= render "header" %>

<% if @thing.file_url? %>
    <div id="thing">
        <a class="download" href="<%= @thing.file_url %>" target="_blank"><%= @thing.filename %></a>

        <div class="body">
            <%= simple_format @thing.body %>
        </div>
    </div>
<% end %>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_thing_path(@thing) %>
    <%= link_to 'Delete', @thing, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>