<h1><%= @thing.body %></h1>

<% if @thing.file_url? %>
    <p><img src="<%= @thing.file_url %>"></p>
<% end %>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>

<p><%= @thing.inspect %></p>