<%= render "header", { class_name: "small" } %>

<% if @thing.file_url? %>
    <div id="thing">
        <% if @thing.file_is_image? %>
            <img class="image" src="<%= @thing.file_url %>">
        <% else %>
            <a class="download" href="<%= @thing.file_url %>" target="_blank">Download <%= @thing.file_extension %></a>
        <% end %>

        <% if @thing.body? %>
            <div class="body">
                <%= simple_format @thing.body %>
            </div>
        <% end %>
    </div>
<% end %>

<% if user_signed_in? %>
    <div id="user_controls">
        <%= link_to 'Edit', edit_thing_path(@thing), class: "button" %>
    </div>
<% end %>
