<%= render "header", { class_name: "small" } %>

<% if @thing.file_url? %>
    <div id="thing">
        <% if @thing.file_is_image? %>
            <img class="image" src="<%= @thing.file_url %>">
        <% else %>
            <a class="download" href="<%= @thing.file_url %>" target="_blank">Download <%= @thing.file_extension %></a>
        <% end %>

        <% if @thing.body? %>
            <div class="body">
                <%= simple_format @thing.body %>
            </div>
        <% end %>
    </div>
<% end %>

<div id="share_buttons">
    <a class="share_toggle" href="<% link_to @thing %>">SHARE</a>

    <div id="share_services" style="display:none;">
        <span class="st_twitter_large" displayText="Tweet"></span>
        <span class="st_facebook_large" displayText="Facebook"></span>
        <span class="st_tumblr_large" displayText="Tumblr"></span>
        <span class="st_reddit_large" displayText="Reddit"></span>
        <span class="st_email_large" displayText="Email"></span>
    </div>
</div>

<% if user_signed_in? %>
    <div id="user_controls">
        <%= link_to 'Edit', edit_thing_path(@thing), class: "button" %>
    </div>
<% end %>
