<%= render "header", { class_name: "small" } %>

<% if @thing.file_url? %>
    <div id="thing">
        <% if @thing.content_type.starts_with? "image" %>
            <img class="image" src="<%= @thing.file_url %>">
        <% else %>
            <a class="download" href="<%= @thing.file_url %>" target="_blank">Download <%= @thing.file_extension %></a>
        <% end %>

        <div class="body" style="<%= @thing.body_is_single_line? ? "text-align:center;" : "" %>">
            <%= simple_format @thing.body %>
        </div>
    </div>
<% end %>

<% if user_signed_in? %>
    <div id="user_controls">
        <%= link_to 'Edit', edit_thing_path(@thing) %>
    </div>
<% end %>
