<!DOCTYPE html>
<html>
<head>
    <title>Standard Creative</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "4f2f019c-cb9c-4cbc-80f7-27bcf42752b5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    <%= csrf_meta_tags %>
</head>
<body>
    <p class="flash notice <%= "present" if notice.present? %>"><%= notice %></p>
    <p class="flash alert <%= "present" if alert.present? %>"><%= alert %></p>

    <%= yield %>
</body>
</html>
